{
    "extends": [
        "airbnb",
        "plugin:jest/recommended"
    ],
    "globals": {
        "context": true,
        "document": true,
        "mount": true,
        "render": true,
        "shallow": true,
        "window": true
    },
    "plugins": [
        "jest",
        "wyze"
    ],
    "env": {
        "jest": true
    },
    "overrides": [
        {
            "files": [
                "**/*.test.js"
            ],
            "rules": {
                "import/no-duplicates": 0
            }
        },
        {
            "files": [
                "schema/**",
                "server.js"
            ],
            "rules": {
                "no-underscore-dangle": 0
            }
        },
        {
            "files": [
                "server.js"
            ],
            "rules": {
                "global-require": 0,
                "import/no-extraneous-dependencies": 0
            }
        }
    ],
    "parser": "babel-eslint",
    "rules": {
        "arrow-body-style": [
            "error",
            "as-needed"
        ],
        "camelcase": 0, // on  xlr8-update-react remove
        "comma-dangle": [
            "error",
            "never"
        ],
        "function-paren-newline": [
            "error",
            "consistent"
        ],
        "import/no-named-as-default": 0,
        "import/prefer-default-export": 0,
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "jest/no-identical-title": 0,
        "jsx-a11y/alt-text": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "linebreak-style": 0,
        "max-len": 0,
        "no-case-declarations": 0,
        "no-confusing-arrow": 0,
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ],
        "no-shadow": 0,
        "no-useless-constructor": 0,
        "radix": 0,
        "react/forbid-prop-types": 0,
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "react/jsx-sort-props": [
            2,
            {
                "ignoreCase": true
            }
        ],
        "react/no-array-index-key": 0,
        "react/no-typos": 0,
        "react/no-unused-prop-types": 0, // on  xlr8-update-react remove
        "react/prefer-stateless-function": [
            2,
            {
                "ignorePureComponents": true
            }
        ],
        "react/sort-comp": 0, // on  xlr8-update-react remove
        "react/sort-prop-types": [
            2,
            {
                "ignoreCase": true
            }
        ],
        "wyze/sort-destructuring-keys": [
            2,
            "asc",
            {
                "caseSensitive": false
            }
        ]
    }
}