.detail {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding-left: 52px;
    padding-top: 32px;
    min-height: 100vh;

    &__img {
        display: flex;
        grid-column: 1 / span 4;
        grid-row: 1 / span 4;

        img {
            border-radius: 4px;
            height: 680px;
            width: 680px;
        }
    }

    &__status {
        align-items: flex-start;
        color: #999999;
        display: flex;
        font-size: 14px;
        grid-column: 8 / span 2;
        grid-row: 1 / span 1;
        margin-bottom: 16px;
    }

    &__title {
        align-items: flex-start;
        display: inline-flex;
        flex-direction: column;
        font-size: 24px;
        font-weight: 600;
        grid-column: 8 / span 2;
        grid-row: 1 / span 1;
        margin-top: 36px;
    }

    &__price {
        font-size: 46px;
        font-weight: 100;
        margin-bottom: 32px;
        padding-top: 32px;
    }

    &__btn-section {
        align-items: flex-start;
        display: flex;
        grid-column: 8 / span 3;
        margin-right: 32px;
    }

    &__btn {
        background-color: #3483FA;
        border-radius: 6px;
        color: white;
        font-size: 16px;
        height: 40px;
        width: 200px;
    }

    &__description-title {
        align-items: center;
        display: flex;
        font-size: 28px;
        grid-column: 1 / span 4;
        grid-row: 9 / span 1;
        padding: 32px 32px;
    }

    &__description-content {
        color: #999999;
        display: flex;
        font-size: 16px;
        grid-column: 1 / span 4;
        grid-row: 10 / span 2;
        padding-left: 32px;
    }
}