.result {
    border-radius: 4px;
    box-shadow: 0px 24px 3px -24px gray;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 16px 16px;

    &__img {
        display: flex;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        justify-content: center;
        padding: 16px 16px;

        img {
            border-radius: 4px;
            height: 180px;
            width: 180px;
        }
    }

    &__location {
        align-items: flex-end;
        color: #999999;
        display: flex;
        font-size: 12px;
        grid-column: 11 / span 1;
        margin-bottom: 32px;
    }

    &__price {
        align-items: flex-end;
        color: #333333;
        display: flex;
        font-size: 24px;
        grid-column: 3 / span 1;
        margin-bottom: 32px;

        img {
            height: 24px;
            margin-left: 1rem;
            width: 24px;
        }
    }

    &__title {
        color: #333333;
        font-size: 18px;
        grid-column: 3 / span 4;
        grid-row: 2 / span 1;
    }
}