body {
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;

    &__breadcrumb {
        padding: 16px 16px;
        grid-column: 2 / span 10;
        grid-row: 2 / span 1;
    }

    &__results {
        background-color: white;
        border-radius: 4px;
        grid-column: 2 / span 10;        
    }

    &__search-bar {
        grid-column: 1 / span 12;
        grid-row: 1 / span 1;
    }
}