body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.app {
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &__breadcrumb {
        color: #999999;
        padding: 16px 16px;
        grid-column: 3 / span 8;
        grid-row: 2 / span 1;
        font-size: 14px;
    }

    &__results {
        background-color: white;
        border-radius: 4px;
        grid-column: 3 / span 8;        
    }

    &__search-bar {
        grid-column: 1 / span 12;
        grid-row: 1 / span 1;
    }
}